#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '*' do
	if item.binary?
		# don’t filter binary items
	else
		output, input = item[:extension].split '.', 2

		if input
			filter input
		end

		case output
		when 'css'
			# don’t process stylesheets
		when 'html'
			layout 'default'
		else
			# don’t process other files
		end
	end
end

route '*' do
	if item.binary?
		# Write item with identifier /foo/ to /foo.ext
		item.identifier.chop + '.' + item[:extension]
	else
		output, input = item[:extension].split '.', 2

		case output
		when 'html'
			# Write item with identifier /foo/ to /foo/index.html
			item.identifier + 'index.' + output
		else
			item.identifier.chop + '.' + output
		end
	end
end

layout '*', :erb


compile '/portfolio/*/', :rep => :thumbnail do
	filter :image, geometry: '200x200'
end

route '/portfolio/*/', :rep => :thumbnail do
	item.identifier.chop + '-thumbnail.' + item[:extension]
end
