@charset "UTF-8";
@font-face {
  font-family: "Linux Biolinum";
  src: url("/fonts/LinBiolinum_R.otf"); }
@font-face {
  font-family: "Linux Biolinum";
  font-weight: bold;
  src: url("/fonts/LinBiolinum_RB.otf"); }
@font-face {
  font-family: "Linux Biolinum";
  font-style: italic;
  src: url("/fonts/LinBiolinum_RI.otf"); }
body {
  margin: 0;
  padding: 0;
  background-color: lightgoldenrodyellow;
  font-family: "Linux Biolinum";
  font-size: 14pt; }

small {
  display: block; }

a[href] {
  color: goldenrod; }

small {
  color: gray; }

span.price, span.time {
  font-weight: bold; }
  span.price .value, span.time .value {
    font-size: 125%; }

figure {
  padding: 2ex;
  background: white;
  box-shadow: 0 0 15px gray;
  text-align: center; }

main {
  margin: 0 20%; }
  main h1 {
    text-align: center; }
  main p, main dl, main > ol, main > ul {
    text-align: justify; }
    main p a, main dl a, main > ol a, main > ul a {
      text-decoration: none;
      font-weight: bold; }
      main p a:hover, main dl a:hover, main > ol a:hover, main > ul a:hover {
        text-decoration: underline; }
  main p.standalone {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 125%;
    text-align: center; }
  main p.highlight {
    margin-left: 2em;
    margin-right: 2em;
    border-left: 4px solid goldenrod;
    padding-left: 0.5em;
    font-weight: bold; }
  main ul.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0; }
    main ul.grid > li {
      float: left;
      margin: 0 auto 1rem;
      list-style: none; }
  main.gifts figure {
    width: 290px;
    margin: 0; }
  main .galleria {
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 0; }
    main .galleria .galleria-container {
      background: white;
      box-shadow: 0 0 15px gray; }
      main .galleria .galleria-container .galleria-image-nav {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px; }
        main .galleria .galleria-container .galleria-image-nav-left, main .galleria .galleria-container .galleria-image-nav-right {
          width: 60px; }
        main .galleria .galleria-container .galleria-image-nav-left {
          border-radius: 0 50% 50% 0;
          background-position: 10px 46px; }
        main .galleria .galleria-container .galleria-image-nav-right {
          border-radius: 50% 0 0 50%;
          background-position: -264px 46px; }
      main .galleria .galleria-container .galleria-carousel .galleria-image {
        border: none; }
      main .galleria .galleria-container .galleria-carousel .galleria-thumb-nav-left {
        border-radius: 50% 0 0 50%; }
      main .galleria .galleria-container .galleria-carousel .galleria-thumb-nav-right {
        border-radius: 0 50% 50% 0; }
      main .galleria .galleria-container .galleria-image-nav-left, main .galleria .galleria-container .galleria-image-nav-right, main .galleria .galleria-container .galleria-thumb-nav-left, main .galleria .galleria-container .galleria-thumb-nav-right {
        background-color: black; }
        main .galleria .galleria-container .galleria-image-nav-left:hover, main .galleria .galleria-container .galleria-image-nav-right:hover, main .galleria .galleria-container .galleria-thumb-nav-left:hover, main .galleria .galleria-container .galleria-thumb-nav-right:hover {
          opacity: 0.7; }
  main.index .galleria-thumbnails-container {
    display: none; }

nav {
  position: fixed;
  width: 20%;
  line-height: 1.5; }
  nav ul {
    margin: 0 0.5rem;
    padding: 0; }
    nav ul:hover a:focus::after {
      display: none; }
    nav ul:hover a:focus:hover::after {
      display: inherit; }
  nav li {
    list-style: none; }
    nav li a {
      text-decoration: none;
      font-weight: normal; }
  body > nav {
    top: 1em;
    left: 0;
    font-size: 150%;
    font-variant: small-caps; }
    body > nav ul {
      margin-right: 1rem; }
    body > nav li {
      padding-right: 2.75rem;
      text-align: right;
      font-weight: bold; }
      body > nav li:first-child {
        font-size: 150%; }
        body > nav li:first-child a:hover::after, body > nav li:first-child a:focus::after {
          font-size: 67%;
          margin-top: 0.5em; }
      body > nav li a:hover::after, body > nav li a:focus::after {
        content: "â†";
        position: absolute;
        margin-left: 0.5em; }
  main > nav {
    top: 3em;
    right: 0; }
    main > nav ul {
      margin-left: 1rem; }
    main > nav li {
      color: gray;
      margin-left: 1em; }
      main > nav li a, main > nav li span {
        margin-left: -1em; }
      main > nav li a:hover {
        border-bottom: 1px dashed; }
    main > nav > ul > li {
      font-variant: small-caps; }
      main > nav > ul > li > ul > li {
        font-variant: normal; }

footer {
  clear: both;
  margin: 2em 20% 1em; }
  footer .copyright {
    font-style: italic; }
