---
title:         О фотографе
menu_position: 3
---

%p
	Я рада, что Вы посетили страничку с моими свадебными работами.
	Фотография — мое увлечение и профессия. Свадебным фото я занимаюсь с 2002 года.
	Мои первые свадебные съемки — это свадьбы друзей, хороших знакомых,
	а через какое-то время свадебное фото перешло в настоящее увлечение и профессиональную работу.

%p
	Для меня свадебная фотография — это интереснейшая работа,
	которая предполагает сочетание разных жанров: и художественную постановку, и живой репортаж.
	Весь свадебный день состоит из сногшибательных по своей красоте моментов.
	Каждая секунда этого волшебного дня неповторима.
	Моя задача — отразить эти моменты в свадебном фото.

%p
	Долгое время моя профессиональная работа была связана с редактированием фотографий в СМИ.
	Поэтому большое внимание я уделяю последующей обработке отснятого материала.
	Отбор, кадрирование, цветокоррекция, ретушь —
	неотъемлемая часть работы со свадебной съемкой,
	итог которой — ваш незабываемый свадебный фотоальбом.


%p
	Последнее время я нахожусь не постоянно, а приезжаю на летние месяцы.
	В 2014 году буду в Москве с начала июля по конец сентября.
	Предварительно поговорить о съемке можно в любое время.
