---
title:         О фотографе
menu_position: 1
---

%p
	Добрый день!

%p
	Я рада, что Вы посетили страничку с моими работами.
	Свадебной фотографией занимаюсь с 2002 года.
	Мои первые свадебные съемки — это свадьбы подруг, хороших знакомых,
	а через какое-то время свадебное фото перешло в настоящее увлечение и профессиональную работу.

%p
	Для меня свадебная фотография — это интереснейшая работа,
	которая предполагает сочетание разных жанров: и художественную постановку, и живой репортаж.
	Весь свадебный день состоит из сногшибательных по своей красоте моментов.
	Каждая секунда этого волшебного дня неповторима.
	Именно фотографии будут рассказывать об этом дне.
	Это — и милые, трогательные кадры, запечатлевшие радость каждого отдельного момента,
	и величественные фото-картины (те, на которые с восхищением смотрят дети и внуки).
	Каждый свадебный альбом, как и каждая свадьба, неповторимы!

%p
	Не секрет, что для некоторых фотографов свадебная съемка — всего лишь подработка,
	дополнение к обычному роду занятий.
	И такие фото нельзя назвать некачественными.

%p
	Хороший фотограф в любом случае постарается сделать хорошую съемку.
	Но работа фотографа, специализирующегося на съемке свадеб, все-таки будет отличаться.
	Свадьба складывается из массы деталей и нюансов.
	Опытный свадебный фотограф учтет их.
	Изначально продумает, как снять различные сцены,
	чтобы отразить неповторимую атмосферу этого дня и не упустить важное.
