---
title:         Контакты
menu_position: 10
---

%h2 Телефоны
%address.phone
	%dl
		%dt Москва
		%dd +7 (926) 776-123-7
		%dd
			%small июль-сентябрь

		%dt Таиланд
		%dd +66 (80) 338-99-18

%h2 E-mail
%address.email
	%ul
		%li= obfuscate_email 'photo@ok-wedding.ru'

%h2 Социальные сети
%address.social
	%dl
		%dt ВКонтакте
		%dd
			%a{ href: 'https://vk.com/oxana_krasnikova' }
				oxana_krasnikova

		%dt Google +
		%dd
			%a{ href: 'https://www.google.com/+OxanaKrasnikova-photo' }
				+OxanaKrasnikova-photo

		%dt Skype
		%dd
			kaisy2008
