---
title:         Сувениры
menu_position: 5
---

%p
	Имея хорошие фотографии, всегда можно придумать оригинальный и очень милый подарок,
	который никого не оставит равнодушным. Сувениры с фото можно дарить по любым поводам:
	день рождения, день св. Валентина, свадебный подарок, подарки гостям и просто на память.

%p.standalone
	Идеи оригинальных фотосувениров:

%ul.grid
	%li
		%figure
			%img{ src: 'chocolate.png' }
			%figcaption
				Шоколад в именной обертке с вашей фотографией

	%li
		%figure
			%img{ src: 'plate.png' }
			%figcaption
				Керамическая тарелка
				с фотографией

	%li
		%figure
			%img{ src: 'cup.png' }
			%figcaption
				Кружка
				с фотографией и текстом: пожеланиями, поздравлениями и подписями

	%li
		%figure
			%img{ src: 'calendar.png' }
			%figcaption
				Карманные календарики,
				в которых можно обозначить памятные для вашей семьи даты

	%li
		%figure
			%img{ src: 'toy.png' }
			%figcaption
				Мягкая игрушка
				с фотографией на мини-футболке — очень милый подарок

	%li
		%figure
			%img{ src: 'magnet.png' }
			%figcaption
				Магниты на холодильник
				станут памятным подарком к любому празднику или событию

	%li
		%figure
			%img{ src: 'mirror.png' }
			%figcaption
				Карманное зеркало
				с фотографией

	%li
		%figure
			%img{ src: 'bag.png' }
			%figcaption
				Сумка из ткани
				с фото-принтом

	%li
		%figure
			%img{ src: 'puzzle.png' }
			%figcaption
				Паззл
				с фотографией

				%p
					Гости уже собрались в ресторане, а свадебный кортеж не подъехал?
					Сбор паззла с фотографией молодоженов развлечет и увлечет ожидающих.

	%li
		%figure
			%img{ src: 'pillow.png' }
			%figcaption
				Подушка
				с романтичной фотографией

	%li
		%figure
			%img{ src: 't-shirt.png' }
			%figcaption
				Футболка
				с тематической фотографией и надписью может стать памятным подарком,
				а также элементом развлекательной программы.
