---
menu_position: 0
---

%h1
	Я рада приветствовать вас на моем сайте!

%p
	Добрый день!

%p
	Я рада приветствовать вас на этом сайте.
	Здесь примеры моих работ, а также советы и информация, которая может пригодиться вам в предсвадебной подготовке.
	Пусть свадебный день будет по-настоящему вашим днем!
	Ведь каждая пара – жених и невеста – уникальна.
	И каждый свадебный альбом, как и каждая свадьба, неповторимы!


%ul.galleria
	= list_of @items.select{ |item| item.path.split('/')[1] == 'index' }.sort_by &:path do |image|
		%img{ src: image.path }

:coffee
	Galleria.loadTheme '/galleria/themes/classic/galleria.classic.min.js'
	Galleria.run '.galleria', {
		# put options here (see http://galleria.io/docs/options/)
		autoplay: true
	}
