---
menu_position: 0
---

%h1
	Свадебный фотограф
	%small
		Оксана Красникова


%ul.galleria
	= list_of @items.select{ |item| item.path.split('/')[1] == 'index' }.sort_by &:path do |image|
		%img{ src: image.path }

:coffee
	Galleria.loadTheme '/galleria/themes/classic/galleria.classic.min.js'
	Galleria.run '.galleria', {
		# put options here (see http://galleria.io/docs/options/)
		autoplay:        true
		transition:      'pulse'
		transitionSpeed: 1500
	}


%p.standalone
	Я рада приветствовать вас на моем сайте!

%p
	Здесь вы найдете примеры моих свадебных фоторабот, а также советы и информацию,
	которая может пригодиться при подготовке к свадьбе.
	Пусть свадебный день будет по-настоящему вашим днем,
	память о котором сохранится в вашем фотоальбоме.
	Ведь каждая пара — жених и невеста — уникальна.
	И каждый свадебный альбом, как и каждая свадьба, неповторимы!
