---
menu_position: 0
---

%h1
	Я рада приветствовать вас на моем сайте!

%p
	Добрый день!

%p
	Я рада приветствовать вас на этом сайте.
	Здесь примеры моих работ, а также советы и информация, которая может пригодиться вам в предсвадебной подготовке.
	Пусть свадебный день будет по-настоящему вашим днем!
	Ведь каждая пара – жених и невеста – уникальна.
	И каждый свадебный альбом, как и каждая свадьба, неповторимы!
