---
title:         Портфолио
menu_position: 2
---

%ul.galleria
	= list_of @item.children.sort_by &:path do |image|
		%a{ href: image.path }
			%img{ src: image.path(rep: :thumbnail) }

:coffee
	Galleria.loadTheme '/galleria/themes/classic/galleria.classic.min.js'
	Galleria.run '.galleria', {
		# put options here (see http://galleria.io/docs/options/)
	}
