---
title:         Портфолио
menu_position: 2
---

<ul class="galleria">
	<% for image in @item.children.sort_by &:path do %>
		<li>
			<a href="<%= image.path %>">
				<img src="<%= image.path rep: :thumbnail %>">
			</a>
		</li>
	<% end %>
</ul>

<script>
	Galleria.loadTheme('/galleria/themes/classic/galleria.classic.min.js');
	Galleria.run('.galleria', {
		// put options here (see http://galleria.io/docs/options/)
	});
</script>
