---
title:         О съемке
menu_position: 4
---

%p
	Можно выделить несколько этапов, из которых складывается удачная свадебная съемка.


%h2 Подготовка

%p
	Готовиться к фотосессии стоит еще до свадебного дня.


%h3 Определите, что вы хотите от съемки

%p
	Какое место отведете ей в свадебный день?
	Выделите для нее отдельное время или это будет нон-стоп репортаж?
	Возможно, у вас наметится заветная мечта: непременно сделать какой-либо кадр
	(поваляться в зеленой траве, покружиться в осенних листьях, побегать по сугробам и покататься на льду).


%h3 Обсудите предстоящую съемку

%p
	Вместе с фотографом вы составите
	%i съемочный план
	всего дня, обсудите возникшие идеи.
	Фотограф заранее продумает необходимый реквизит.


%h3 Проведите предварительную фотосессию

%p
	Совершите романтичную прогулку в любимом парке, покатайтесь на лодке, прогуляйтесь по красивым улицам.
	Получится романтичная
	%i Photo Love Story.

%ul
	%li
		Во-первых, вы получите очень важный опыт совместной фотосессии
		и во время свадьбы будете раскованы,
		фотосъемка станет естественной частью вашего праздника.
	%li
		Во-вторых, поймете, какие именно планы вам нравятся больше.
		Непременно возникнут дальнейшие идеи!

%p
	Кстати, фотографии с предварительной фотосессии можно использовать при подготовке к свадьбе.
	К примеру, можно сделать оригинальные фотосувениры
	, которые станут незабываемым подарком для гостей.
	Такие сувениры подойдут и в качестве привычных призов для праздничной банкетной программы.


%h2 Непосредственно свадебный день!

%p
	Не забывайте, как важно для хорошей фотосессии время прогулки.
	Старайтесь не отвлекаться на звонки и организационные моменты.


%h2 Обработка фотографий

%p
	Отбор кадров, редактирование (кадрировка, цветокоррекция, ретушь, художественная стилизация) —
	как ни странно, этот этап работы наиболее длительный.

%p
	Из сотен снятых мегабайтов фотограф делает отбор самых удачных кадров,
	которые войдут в ваш свадебный альбом.
	Далее идет работа по редактированию фото.

%dl
	%dt
		Цветокоррекция
	%dd
		поправит ″недостатки″ погоды.
		Конечно, хмурый день не переделать в солнечный.
		Да это и не нужно.
		Однако некоторые существенные изменения фотограф сделать в силах.

	%dt
		Ретушь
	%dd
		исправит легкие изъяны, уберет нежелательные предметы, случайно попавшие в кадр.

	%dt
		Art-обработка —
	%dd
		художественная ретушь, стилизованные эффекты, фильтры, художественные рамки —
		придадут фотографии желаемый стиль.
