---
title:         Услуги
menu_position: 1
---

%h2 Свадебная фотосъемка

%h3
	%a{ name: 'basic' }
		Базовый пакет

%p.summary
	Фотосъемка
	+ цветокоррекция всех фото на DVD.

%p
	Фотосъемка свадебного торжества с момента утренних приготовлений.
	Фотосессия (постановочные кадры) + репортаж.

%p
	Предварительная фотосессия
	%i Love Story
	— по желанию пары.

%p
	Конечный результат:
%ul
	%li
		DVD с наилучшими кадрами
		%small (количество от 400 до 1000 и более, в зависимости от насыщенности событиями);
	%li цветокоррекция всех фото на диске, легкая ретушь портретов;
	%li уменьшенный вариант всех фото для публикации в интернете;
	%li индивидуальное оформление диска и упаковки.

%p.price
	Цена: 
	%span.price><
		%span.value 25 000
		%span.unit  руб.
	,
	%small
		более
		%span.time
			%span.value 10
			%span.unit  часов
		—
		%span.price
			%span.value 2 500
			%span.unit  руб.
		в час.


%h3
	%a{ name: 'standard' }
		Пакет "Классический"

%p.summary
	%a{ href: '#basic' } Базовый пакет
	+ художественное обработка
	+ печать.

%p
	Фотосъемка свадебного торжества с момента утренних приготовлений.
	Фотосессия (постановочные кадры) + репортаж.

%p
	Предварительная фотосессия
	%i Love Story
	— по желанию пары.

%p
	Конечный результат:

%ul
	%li
		DVD с наилучшими кадрами
		%small (количество от 400 до 1000 и более, в зависимости от насыщенности событиями);
	%li цветокоррекция всех включенных в диск фото, художественная ретушь портретов;
	%li уменьшенный вариант всех фото для публикации в интернете;
	%li
		art-обработка 10 кадров:
		%ul
			%li художественная ретушь,
			%li дополнительные эффекты: фильтры, художественные рамки;
	%li печать 100 кадров формата 15×22 см;
	%li индивидуальное оформление диска и упаковки.

%p.price
	Цена: 
	%span.price><
		%span.value 35 000
		%span.unit  руб.
	,
	%small
		более
		%span.time
			%span.value 10
			%span.unit  часов
		—
		%span.price
			%span.value 2 500
			%span.unit  руб.
		в час.


%h2
	%a{ name: 'love-story' }
		Фотосессия для двоих
	%small
		%i Love Story

%p
	%i Photo Love Story
	можно делать не обязательно в преддверии свадьбы.
	Подарите себе романтичную фотосессию.
	У вас останется масса хороших впечатлений, а фотографии пополнят ваш альбом.

%p.price
	Цена: 
	%span.price
		%span.value 8 000 – 12 000
		%span.unit  руб.


%h2
	%a{ name: 'family' }
		Семейная фотосессия

%p
	Совершите прогулку в парке всей семьей.
	На память у вас останутся хорошее настроение и разноплановые фотографии:
	семейный портрет, репортаж о совместном досуге.

%p.price
	Цена: 
	%span.price
		%span.value 8 000 – 12 000
		%span.unit  руб.


%h2
	%a{ name: 'family-events' }
		Фотосъемка семейных торжеств

%p
	Важные семейные праздники и события хочется запечатлеть в фотоальбоме.
	Дни рождения, выпускные вечера и другие торжества заслуживают качественной фотосъемки.

%p.price
	Цена: 
	%span.price
		%span.value 2 500
		%span.unit  руб.
	в час,
	%small
		но не менее
		%span.price
			%span.value 5 000
			%span.unit  руб.


%h2
	%a{ name: 'company-events' }
		Фотосъемка корпоративных торжеств

%p
	Выездные мероприятия, презентации, торжественные программы и банкеты.

%p.price
	Цена: 
	%span.price
		%span.value 3 000
		%span.unit  руб.
	в час,
	%small
		но не менее
		%span.price
			%span.value 6 000
			%span.unit  руб.
