@font-face
	font:
		family: 'Linux Biolinum'
	src: url('/fonts/LinBiolinum_R.otf')
@font-face
	font:
		family: 'Linux Biolinum'
		weight: bold
	src: url('/fonts/LinBiolinum_RB.otf')
@font-face
	font:
		family: 'Linux Biolinum'
		style:  italic
	src: url('/fonts/LinBiolinum_RI.otf')


body
	margin:    0
	padding:   0
	background:
		color: lightGoldenRodYellow

	font:
		family: 'Linux Biolinum'
		size:   14pt


h1, h2, h3, h4, h5, h6
	small
		display: block

a[href]
	color: goldenRod

small
	color: gray


header


main
	margin: 0 20%

	h1
		text-align:  center

	p, dl, > ol, > ul
		text-align: justify

		a
			text-decoration:     none
			font-weight:         bold

			&:hover
				text-decoration: underline

	p.standalone
		font-size:  150%
		text-align: center

	.galleria
		width:   800px
		height:  600px
		margin:  auto
		padding: 0

		.galleria-container
			background: white
			box-shadow: 0 0 15px gray

			.galleria-image-nav
				margin:
					left:  -10px
					right: -10px
				padding:
					left:   10px
					right:  10px

				&-left, &-right
					width:  60px
				&-left
					border-radius:       0 50% 50% 0
					background-position:   10px 46px
				&-right
					border-radius:       50% 0 0 50%
					background-position: -264px 46px

			.galleria-carousel
				.galleria-image
					border: none
				.galleria-thumb-nav
					&-left
						border-radius: 50% 0 0 50%
					&-right
						border-radius: 0 50% 50% 0

			.galleria-image-nav, .galleria-thumb-nav
				&-left, &-right
					background-color: black
					&:hover
						opacity: 0.7

	&.index
		.galleria-thumbnails-container
			display: none


nav
	position: fixed
	width:    15%
	margin:   0 20px

	line-height: 1.5

	ul
		margin:  0
		padding: 0

		&:hover a:focus
			&::after
				display: none
			&:hover::after
				display: inherit

	li
		list-style: none

		a
			text-decoration: none
			font-weight:     normal

	body > &
		top:  1em
		left: 0

		font:
			size:    150%
			variant: small-caps

		li
			text-align:  right
			font-weight: bold

			&:first-child
				font:
					size: 150%

				a
					&:hover, &:focus
						&::after
							font-size:  67%
							margin-top: 0.5em

			a
				&:hover, &:focus
					&::after
						content:     '←'
						position:    absolute
						margin-left: 0.5em


footer
	margin: 2em 20% 1em

	.copyright
		font-style: italic
